/* ===================FONTS======================== */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&family=Nunito:ital,wght@0,500;0,700;0,800;1,1000&display=swap');

    /* font-family: 'Arvo', serif;
    font-family: 'Nunito', sans-serif; */
/* ===================SCROLLBAR======================== */
body::-webkit-scrollbar{
    width: 15px;
    background: rgba(255, 255, 255, 0.778);
}
body::-webkit-scrollbar-thumb{
    background: rgba(199, 69, 173, 0.778);
    border-radius: 35px;
    border-right: 4px solid rgba(255, 255, 255, 0.778);

}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(174, 67, 85);
}
/* ===================ETIQUETAS======================== */
body{
    background-image: url(https://i.pinimg.com/564x/2e/2b/a2/2e2ba2b74e3905da30e5f8c6b2ea4366.jpg) ;
    background-repeat: repeat-x;
    background-position: center center;
    height: 564rem;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Arvo', serif;
    font-weight: 700;
    
}
div{
    background-color: beige;
}
