body {
    background-image: url(https://i.pinimg.com/564x/bb/ab/f2/bbabf2cbfdbe584f904cf1211d2fc227.jpg);
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    
}

h1 {
    text-align: center;
    color: rgb(14, 46, 109);
}
h3{
    text-align: center;
    color: rgb(34, 78, 165);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 600px;
}