/* ==============FONTS============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');
/* font-family: 'Roboto Mono', monospace; */

/* ===================SCROLLBAR======================== */
body::-webkit-scrollbar {
    width: 15px;
    background: rgba(255, 255, 255, 0.778);
}

body::-webkit-scrollbar-thumb {
    background: rgba(69, 199, 127, 0.778);
    border-radius: 35px;
    border-right: 4px solid rgba(255, 255, 255, 0.778);

}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 113, 70);
}


/* =====TO BODY=========================================== */

body {
    background-color: rgb(159, 212, 159);
    font-family: 'Roboto Mono', monospace;
}

/* ===========ID'S==================================== */
#icon1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#icon2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#titulo1 {
    font-family: 'Roboto Mono', monospace;
    width: 700;
    font-size: x-large;
    background-color: rgba(254, 255, 254, 0.397);
    border-radius: 10px;
    text-align: center;
    margin: 2rem;

}

/* =========================TRANSICIONES============================================ */
/* =======transicion florhpface=================== */
#hpface {
    border-radius: 3rem;
}

#hpface:active {
    transform: translateX(150px);
}

/* =======mini-gyroide=================== */
.imgs:hover {
    transition-property: border-radius;
    transition-duration: 0.6s;
    transition-delay: 0.2s;

    border-radius: 8.5rem;
}


#hey:hover{
transform: scale(1.1);
}

/* ANIMATIONS===================================================================== */
#greencube {

    animation: rainbow-background 6s infinite;
}

@keyframes rainbow-background {
    0% {
        background-color: rgb(159, 212, 159);
    }

    33.333% {
        background-color: #93e593;
    }

    50% {
        background-color: rgba(162, 253, 172, 0.312);
    }

    66.667% {
        background-color: #7bc6ac;
    }

    100% {
        background-color: rgb(162, 246, 205);
    }
}

/* catarina animation */
.catarina {
    animation-name: slidein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 70%;
    }

    to {
        margin-left: 0%;
    }
}

/* ======SUBE Y BAJA BOTTOM======== */
#tienda_fisica {
    background-color: rgba(245, 245, 220, 0.363);
    margin: 3rem;
    border-radius: 3rem;
    text-align: center;
    border-color: #619d61;
    border-style: solid;

    animation-name: vertical-slidein;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes vertical-slidein {
    from {
        margin-top: 70%;
    }

    to {
        margin-top: 0%;
    }
}
/* ==========PRECIOS============= */
#precio {
    animation-name: horizontal-slidein;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes horizontal-slidein {
    from {
        margin-rigth: 0%;
    }

    to {
        margin-left: 15%;
    }
}
/* ==========NAM 3 IMGS============ */
.namanima {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    border-radius: 3rem;


    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    from {
        transform: rotate(-3deg);
    }

    to {
        transform: rotate(3deg);
    }
}


/* ===========CLASS==================================== */

.banner1 {
    display: flex;
    justify-content: space-between;
}

.texto-bottom {
    font-weight: 600;
    text-align: center;
}

.texto-bottomm {
    font-weight: 600;
    text-align: center;
    background-color: rgba(66, 163, 66, 0.564);
    border-radius: 2rem;
    margin: 1.5rem;
    padding: 0.4rem;
}



/* ===========GRID PRINCIPAL====================================== */
.container-grid {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-template-rows: repeat(3, 425px);
    padding: 30px;
    gap: 15px;
}

.imgs {
    object-fit: cover;
    border-radius: 2rem;
}

.plants-container:nth-child(1) {
    grid-column-start: span 2;
}

.plants-container:nth-child(2) {
    grid-column-start: span 1;
}

.plants-container:nth-child(3) {
    grid-column-start: span 1;
}

.plants-container:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.plants-container:nth-child(5) {
    grid-column-start: span 1;
}

.plants-container:nth-child(6) {
    grid-column-start: span 1;
}

.plants-container:nth-child(7) {
    grid-column-start: span 1;
}

/* imagenes hasta el 8 */
.plants-container:nth-child(8) {
    grid-column-start: span 1;
}

/* catarina img */
.plants-container:nth-child(9) {
    grid-column-start: span 2;
    border-radius: 2rem;
    padding: 2rem;
}

/* textos */
.plants-container:nth-child(10) {
    grid-column-start: span 2;


}



/* ult gif */
.plants-container:nth-child(11) {
    grid-column-start: 5;
    grid-column-end: 7;
}