/* ==============FONTS============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');
/* font-family: 'Roboto Mono', monospace; */

body {
    background-color: rgb(116, 202, 116);

    font-family: 'Roboto Mono', monospace;
}

/* ===========ID'S==================================== */
#icon1 {
    width: 100px;
    height: 100px;
}

#titulo1 {
    font-family: 'Roboto Mono', monospace;
    width: 700;
    font-size: x-large;
    background-color: rgba(254, 255, 254, 0.397);
    border-radius: 10px;
    text-align: center;
    margin: 2rem;

}

#gif1 {
    width: 540px;
    height: 250px;
    grid-area: 2/1;
}


#maceta1 {
    width: 250px;
    height: 250px;

    /* grid-area: 1/4/3/6; */
}

/* ===========CLASS==================================== */

.container1 {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(4, 250px);
    gap: 15px;

}