/* ==============FONTS============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');
/* font-family: 'Roboto Mono', monospace; */

body {
    background-color: rgb(116, 202, 116);
    font-family: 'Roboto Mono', monospace;
}

/* ===========ID'S==================================== */
#icon1 {
    width: 100px;
    height: 100px;
}

#titulo1 {
    font-family: 'Roboto Mono', monospace;
    width: 700;
    font-size: x-large;
    background-color: rgba(254, 255, 254, 0.397);
    border-radius: 10px;
    text-align: center;
    margin: 2rem;

}



/* ===========CLASS==================================== */

.banner1 {
    display: flex;
    justify-content: space-between;
}

/* ===========GRID PRINCIPAL====================================== */
.container-grid {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-template-rows: repeat(2, 300px);
    padding: 30px;
    gap: 15px;
}

.imgs {
    object-fit: cover;
}

.plants-container:nth-child(1) {
    grid-column-start: span 2;
}

.plants-container:nth-child(2) {
    grid-column-start: span 4;
}

















/* .container2 {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(4, 250px);
    gap: 20px;
    padding: 20px;
}

.imgs{
    width: 100%;
}





.imgs:nth-child(1) {
    grid-column: 1 / span 2;
    grid-column-start: span 2;
}

.imgs:nth-child(2) {
    width: 250px;
    height: 250px;
    grid-row-start: span 2;
} */